.tree-container {
  margin-top: 100px;
  margin-left: 100px;
  width: 500px;
  min-width: 500px;
}
.line-item {
  position: absolute;
  margin: auto;
}
.tree-node-content {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}
.icon-item {
  margin-right: 10px;
  margin-left: 2px;
  cursor: pointer;
  position: relative;
}
.line-item-H {
  position: absolute;
}
.no-icon-item {
  display: inline-block;
  width: 25px;
}